<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
     
</mat-toolbar>


<mat-menu #menu>
    <button mat-menu-item routerLink='/'>
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-menu-item routerLink='/copyrights'>
        <mat-icon>copyright</mat-icon>
        <span>Copyrights</span>
    </button>

    <button mat-menu-item routerLink='/input'>
        <mat-icon>add</mat-icon>
        <span>New municipality</span>
    </button>

</mat-menu>